# Ignore log files
*.log

# Ignore environment variables
.env
# Ignore json
results.json
static/predictions.json

# Ignore datasets
On-street_Car_Parking_Sensor_Data_-_2017.csv
94866099999.csv
# Ignore other non requirement files
__pycache__
__MACOSX